Source: gnome-desktop
Section: gnome
Priority: optional
Maintainer: Ondřej Surý <ondrej@debian.org>
Uploaders: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>, Akira TAGOH <tagoh@debian.org>, Andrew Lau <netsnipe@users.sourceforge.net>, Edd Dumbill <ejad@debian.org>, Emil Soleyman-Zomalan <emil@nishra.com>, Gustavo Noronha Silva <kov@debian.org>, J.H.M. Dassen (Ray) <jdassen@debian.org>, Johannes Rohr <j.rohr@comlink.org>, Jordi Mallach <jordi@debian.org>, Jose Carlos Garcia Sogo <jsogo@debian.org>, Josselin Mouette <joss@debian.org>, Rob Bradford <rob@debianplanet.org>, Robert McQueen <robot101@debian.org>, Ross Burton <ross@burtonini.com>, Sebastien Bacher <seb128@debian.org>, Takuo KITAME <kitame@debian.org>
Standards-Version: 3.6.1
Build-Depends: debhelper (>= 4.0.0), liborbit2-dev (>= 1:2.10.0), intltool,
 libgnomeui-dev (>= 2.6.0), libbonobo2-dev (>= 2.6.0), scrollkeeper,
 libstartup-notification0-dev (>= 0.5), cdbs, gnome-pkg-tools,
 gtk-doc-tools, docbook-xml

Package: gnome-about
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: gnome-core (<< 1.5)
Description: The GNOME about box
 Informative little about thing that lets us brag to our friends as our name
 scrolls by, and lets users click to load the GNOME home pages.

Package: gnome-desktop-data
Architecture: all
Conflicts: gnome-panel (<= 2.0.0), gnome-core (<< 1.5), gnome-help (<< 1.5)
Replaces: gnome-control-center (<= 1:2.0.3.2-2), gnome-core (<= 1.5), gnome-panel-data (<= 2.0)
Description: Common files for GNOME 2 desktop apps
 This package includes some files that are shared between several GNOME 2
 apps (Pixmaps, .desktop files and internationalization files).

Package: libgnome-desktop-2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Replaces: libpanel-applet2 (<= 1.5.4-1)
Description: Utility library for loading .desktop files - runtime files
 This library is used by GNOME 2 to load the .desktop files.

Package: libgnome-desktop-dev
Section: libdevel
Architecture: any
Depends: libgnome-desktop-2 (= ${Source-Version}), libgnomeui-dev (>= 2.6.0), libstartup-notification0-dev (>= 0.5)
Replaces: libpanel-applet2-dev (<= 1.5.4-1)
Description: Utility library for loading .desktop files - development files
 This packages provides the include files and static library for the GNOME 2
 desktop library functions.
